vendor/
.env
.env.*
*.log
*.cache
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
/terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.tf
*.tfvars.tfvars
*.tfvars.tfvars.json
*.tfvars.tfvars.yaml
*.tfvars.tfvars.yml     

